---
layout: default
css: [/css/main.css]
---
<header class="welcome">
  <h1>{{ page.title }}</h1>
  <p>
    <div class="post-meta">
      <span class="post-date">{{ page.date | date: "%d %B %Y" }}</span>
      Tags: <span class="post-tags">{{ page.tags | array_to_sentence_string }}</span>
    </div>
  </p>
</header>

<article class="post">
  {{ content }}
</article>

<nav class="post-navigation">
  <div class="left"> 
    {% if page.previous.url %} 
    <a href="{{ page.previous.url }}" title="Previous Post: {{ page.previous.title }}">&laquo; {{page.previous.title}}</a> 
    {% endif %} 
  </div> 
  <div class="right"> 
    {% if page.next.url %} 
    <a href="{{ page.next.url }}" title="Next Post: {{ page.next.title }}">{{page.next.title}} &raquo; </a> 
    {% endif %} 
  </div> 
</nav> 